*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('assets/semicircles.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid #9b9b9b;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 30px 40px;
}

h1{
    color: white;
}